extends layout

block content
	.app-wrap.full-page.landing-bg
		div.landing-header
			h1 Vegas
			h6 2019
			#counter-container
				h4 Starts in
				.counter-single
					#counter-days.counter-val 
					.counter-metric Days
				.counter-single
					#counter-hours.counter-val 
					.counter-metric Hours
				.counter-single
					#counter-mins.counter-val 
					.counter-metric Mins
				.counter-single
					#counter-secs.counter-val 
					.counter-metric Secs
		.select-user 
			button#demo-menu-lower-right.mdl-button.mdl-js-button.mdl-button--raised.mdl-button--accent
				span Select user
				//- i.material-icons more_vert 
			ul.mdl-menu.mdl-menu--bottom-right.mdl-js-menu.mdl-js-ripple-effect(for='demo-menu-lower-right')
				each user, index in users
					li(id=index).mdl-menu__item.login-li #{user.name}