extends layout

block content
	.app-wrap.full-page
		.neon.on
			p Vegas
			p.small 2019
		.select-user 
			button#demo-menu-lower-right.mdl-button.mdl-js-button.mdl-button--raised.mdl-button--accent
				span Select user
				//- i.material-icons more_vert 
			ul.mdl-menu.mdl-menu--bottom-right.mdl-js-menu.mdl-js-ripple-effect(for='demo-menu-lower-right')
				each user, index in users
					li(id=index).mdl-menu__item #{user.name}