//- Success screen

extends layout

block content
	.app-wrap
		div
			h1= title
		div.gif-middle
			div.gif-wrapper
				img(src="https://media.giphy.com/media/7eVp9MHlNI90c/giphy.gif").gif-img

		a(href="/").btn-back.mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect.mdl-button--accent
					| Back


