body {
	font: 14px "SF","roboto", Helvetica, Arial, sans-serif;
	/* margin: 16px 0; */
	background-color: #f7f6f6;
}

.mdl-layout__container {
  position: relative !important;
  /* overflow: visible !important; */
}

.mdl-layout {
  overflow: visible !important;
}

h2 {
  font-weight: 700;
}

h4 {
  margin-top: 4px;
  line-height: 16px;
  margin-bottom: 16px;
}

h5 {
    /* font-size: 32px; */
    margin-top: 8px !important;
    margin-bottom: 8px !important;
    font-weight: 400;
    display: flex;
    justify-content: space-between;
    color: #505050;
    /* vertical-align: middle; */
}

h6 {
    margin-top: 8px !important;
    margin-bottom: 8px !important;
}

a {
  color: #00B7FF;
}

#counter-container {
  background-color: white;
  margin-right: auto;
  margin-top: 24px;
  margin-left: auto;
  width: fit-content;
  border-radius: 8px;
  color: #d33696;
  padding: 16px;
}

.counter-single {
  display: inline-block;
  margin-left: 8px;
  margin-right: 8px;
}

.counter-metric {
  font-size: 16px;
  font-weight: 300;
}

.counter-val {
  /* font-size: 32px; */
}

.landing-header {
  font-size: 24px;
  font-weight: 900;
  color: #ffffff;
  text-align: center;
  margin-bottom: 64px;
}

.landing-header h1 {
  font-size: 72px;
  margin-bottom: 8px;
  font-weight: 900;
  margin-top: 0;
}

.landing-bg {
  background-image: linear-gradient(135deg, #9C27B0 0%,#ff4181 100%);
}

.landing-header h6 {
  font-size: 36px;
  font-weight: 900;
}


.mdl-layout__content {
  margin: 16px;
  overflow: visible;
}

.mdl-layout-title {
  margin-right: 16px;
}

.header {
  display: flex;
  flex-direction: column;
  /* padding: 16px; */
}

.header-content {
  display: flex;
  /* padding: 16px 16px 0 72px; */
  justify-content: space-between;
  background-color: #4960e0;
  padding: 0 16px 0 16px;
}

.tabs {
  background-color: #5064de;
  /* color: white !important; */
}

.hidden-card {
  visibility: hidden;
  height: 0px;
  margin-top: 75px !important;
  padding: 0 !important;
}

.hide {
  display: none;
}

.fixed {
  position: fixed;
  z-index: 420;
  width: 100%;
  background-color: #f7f6f6;
}

.mdl-layout__header {
  position: fixed;
  z-index: 420;
  top: 0;
  left: 0;
}

.mdl-tabs {
  /* padding-top: 64px; */
}

.mdl-data-table {
	/* border-radius: 16px; */
	width: 100%;
	border-color: transparent;
	font-size: 16px !important;
	/* border: none; */
}

.selection-btns button {
  margin-right: 24px;
  min-width: 100px;
}

.section {
  margin-top: 24px;
}

#report-field {
  font-size: 50px;
  /*border-bottom: 2px solid rgb(63,81,181);*/
}

#report-label {
  color: rgb(63,81,181);
}

.mdl-textfield__label {
  font-size: 50px;
}

.app-wrap {
	margin: 16px 16px 48px 16px;
	display: flex;
	flex-direction: column;
	/* min-height: 100vh; */
	justify-content: center;
	/* flex-wrap: wrap; */
	/* vertical-align: middle; */
	/* text-align: center; */
}

.btns-container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  /* margin-bottom: 24px; */
}

.carusel {
  margin-left: -16px;
  margin-right: -16px;
}

.table-wrapper {
	margin: 16px 0;
}

.negative-report {
  /* background-color: red; */
  color: rgb(255, 0, 67);
}

.players-reports .table-wrapper {
  margin: 16px;
}

.players-reports {
  margin-top: -32px;
}

.bal-cell {
	font-weight: 700;
	padding-right: 8px !important;
}

.bal-icon-cell{
  width: 2px !important;
  padding: 0 !important;
  text-align: left !important;
}

.bal-icon {
  font-size: 2rem;
}

.table-avatar {
    height: 32px;
    width: 32px;
    border-radius: 24px;
    margin-right: 16px;
}

.table-title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

.table-title span {
  margin-top: auto;
  margin-bottom: auto;
}

.app-wrap.full-page {
	 height: 100vh;
	 background-color: #ffffff;
	 margin: 0;
	 /* padding: 16px; */
}

.mdl-user-card.holder {
	position: relative !important;
	background-color: transparent;
}

.last-card-wrapper {
	padding-top: 32px;
	/* margin-left: -8px; */
	display: flex;
	justify-content: space-between;
	overflow-x: scroll;
	-webkit-overflow-scrolling: touch;
}

.user-content {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 16px;
	width: 100%;
}

.user-content h5{
  /* font-size: 3rem; */
  color: white;
}

.user-content .user-balance {
  font-size: 1.5rem
}

.report-card {
	margin: 8px !important;
	min-width: 146px !important;
	text-align: center;
	overflow: visible !important;
	align-items: center;
	padding-top: 30px !important;
	/* margin: 0 !important; */
}

.report-val {
	padding: 8px;
}

.report-time {
	padding: 0 !important;
}

.report-card img {
    width: 52px;
    height: 52px;
    border-radius: 40px;
    position: absolute;
    top: -28px;
    border: 4px solid white;
}

form {
    display: flex;
    flex-direction: column;
    margin-bottom: 0 !important;
}

.mdl-textfield {
	width: 100% !important;
	/* background-color: white; */
}

.logout-wrapper {
	font-size: 12px;
	margin: 16px;
}

#logout {
	color: blue;
}

.mdl-card {
	min-height: 0px !important;
	padding: 16px;
	margin: 16px 0;
	width: 100% !important;
	/* overflow: visible; */
	margin: 0;
	border-radius: 16px;
}

.input-card {
  margin-top: 16px;
}
.full-width {
	width: 100% !important;
}

.mdl-user-card {
	/* height: 80px; */
	background-color: rgb(63,81,181);
	/* color: white; */
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	display: flex;
	z-index: 420;
	/* flex-direction: column; */
}

.user-img {
    border: 1px solid #3f50b5; 
    margin-right: 16px;
    border-radius: 100px;
    height: 40px;
    /* margin-bottom: 3px; */
    /* margin-left: 3px; */
    /* margin-right: 12px; */
    /* margin-top: 3px; */
    overflow: hidden;
    width: 40px;
}

.user-img-wrapper {
	display: flex;
    align-items: center;
}
.gif-wrapper {
	width: 200px;
	height: 200px;
	overflow: hidden;
	border-radius: 200px;
    border: 4px solid white;
	/* position: relative; */
	/* display: flex; */
}

.gif-middle {
    margin: 32px;
    display: flex;
    justify-content: space-evenly;
}

.gif-img {
	height: 200px;
}

.avatar {
	display: flex;
    justify-content: space-around;
}

.avatar-wrapper {
	border-radius: 200px;
    height: 200px;
    margin-bottom: 3px;
    margin-left: 3px;
    margin-right: 12px;
    margin-top: 3px;
    overflow: hidden;
    width: 200px;
}

.avatar-wrapper img {
	height: 200px;
}

.neon {
	text-align: center;
	margin: 16px;
	/* display: none; */
}

.select-user {
	text-align: center;
	margin: 16px;
	position: fixed;
	top: 16px;
	right: 16px;
}

#select-all {
  margin-right: 32px;
}

.neon p.small {
	font-size: 42px;
	font-weight: 400;
}
.neon p {
  color: #ff4081;
  font-family: roboto;
  font-weight: bold;
  font-size: 97px;
  line-height: 70px;
}

.neon.off p {
	color: transparent;
}

.neon.on p {
  -webkit-animation: neon3 1.5s ease-in-out infinite alternate;
  -moz-animation: neon3 1.5s ease-in-out infinite alternate;
  /* animation: neon3 1.5s ease-in-out infinite alternate; */
}

.fish-title {
	text-align: center;
	color: #ff4181;
	font-family: pacifico;
}

.pop-up {
    position: fixed;
    z-index: 9999 !important;
    bottom: 0;
    /* margin: auto; */
    left: 0 !important;
    height: 100%;
    background-color: #00000094;
    display: flex;
    /* justify-content: space-evenly; */
    width: 100%;
    display: none; 
}

.pop-up-content{
  position: absolute;
  width: 100%;
  bottom: 0;
  height: fit-content;
  overflow: hidden;
  transition: all 3s;
  border-radius: 16px 16px 0 0;
  background-color: #ffffff;
  z-index: 999999999999;
}

.pop-btns {
  display: flex;
  justify-content: space-between;
}

.dry-wet {
    margin-right: 8px;
    margin-left: 8px;
    margin-bottom: 24px;
    width: 50%;
}

.pop-up-content.close {
  top: 100%;
  /*height: 0;*/
}

.pop-up-content h5 {
  margin: auto;
}

.pop-up-content-btns-container {
  display: flex;
  flex-direction: column;
}

.pop-up-icon {
  font-size: 74px;
  margin: auto;
}

#pop-up-amount {
  margin: 32px auto;
  font-size: 2em;
  font-weight: 900;
}

.floating-btn {
  position: fixed;
  bottom: 32px;
  right: 32px;
  z-index: 999;
}



@-webkit-keyframes neon3 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FFDD1B, 0 0 70px #FFDD1B, 0 0 80px #FFDD1B, 0 0 100px #FFDD1B, 0 0 150px #FFDD1B;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FFDD1B, 0 0 35px #FFDD1B, 0 0 40px #FFDD1B, 0 0 50px #FFDD1B, 0 0 75px #FFDD1B;
  }
}

@-webkit-keyframes neon4 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #B6FF00, 0 0 70px #B6FF00, 0 0 80px #B6FF00, 0 0 100px #B6FF00, 0 0 150px #B6FF00;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #B6FF00, 0 0 35px #B6FF00, 0 0 40px #B6FF00, 0 0 50px #B6FF00, 0 0 75px #B6FF00;
  }
}

@-webkit-keyframes neon5 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FF9900, 0 0 70px #FF9900, 0 0 80px #FF9900, 0 0 100px #FF9900, 0 0 150px #FF9900;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FF9900, 0 0 35px #FF9900, 0 0 40px #FF9900, 0 0 50px #FF9900, 0 0 75px #FF9900;
  }
}

@-webkit-keyframes neon6 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff00de, 0 0 70px #ff00de, 0 0 80px #ff00de, 0 0 100px #ff00de, 0 0 150px #ff00de;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ff00de, 0 0 35px #ff00de, 0 0 40px #ff00de, 0 0 50px #ff00de, 0 0 75px #ff00de;
  }
}
/*glow for mozilla*/

@-moz-keyframes neon1 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FF1177, 0 0 70px #FF1177, 0 0 80px #FF1177, 0 0 100px #FF1177, 0 0 150px #FF1177;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FF1177, 0 0 35px #FF1177, 0 0 40px #FF1177, 0 0 50px #FF1177, 0 0 75px #FF1177;
  }
}

@-moz-keyframes neon2 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #228DFF, 0 0 70px #228DFF, 0 0 80px #228DFF, 0 0 100px #228DFF, 0 0 150px #228DFF;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #228DFF, 0 0 35px #228DFF, 0 0 40px #228DFF, 0 0 50px #228DFF, 0 0 75px #228DFF;
  }
}

@-moz-keyframes neon3 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FFDD1B, 0 0 70px #FFDD1B, 0 0 80px #FFDD1B, 0 0 100px #FFDD1B, 0 0 150px #FFDD1B;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FFDD1B, 0 0 35px #FFDD1B, 0 0 40px #FFDD1B, 0 0 50px #FFDD1B, 0 0 75px #FFDD1B;
  }
}

@-moz-keyframes neon4 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #B6FF00, 0 0 70px #B6FF00, 0 0 80px #B6FF00, 0 0 100px #B6FF00, 0 0 150px #B6FF00;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #B6FF00, 0 0 35px #B6FF00, 0 0 40px #B6FF00, 0 0 50px #B6FF00, 0 0 75px #B6FF00;
  }
}

@-moz-keyframes neon5 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FF9900, 0 0 70px #FF9900, 0 0 80px #FF9900, 0 0 100px #FF9900, 0 0 150px #FF9900;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FF9900, 0 0 35px #FF9900, 0 0 40px #FF9900, 0 0 50px #FF9900, 0 0 75px #FF9900;
  }
}

@-moz-keyframes neon6 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff00de, 0 0 70px #ff00de, 0 0 80px #ff00de, 0 0 100px #ff00de, 0 0 150px #ff00de;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ff00de, 0 0 35px #ff00de, 0 0 40px #ff00de, 0 0 50px #ff00de, 0 0 75px #ff00de;
  }
}
/*glow*/

@keyframes neon1 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FF1177, 0 0 70px #FF1177, 0 0 80px #FF1177, 0 0 100px #FF1177, 0 0 150px #FF1177;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FF1177, 0 0 35px #FF1177, 0 0 40px #FF1177, 0 0 50px #FF1177, 0 0 75px #FF1177;
  }
}

@keyframes neon2 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #228DFF, 0 0 70px #228DFF, 0 0 80px #228DFF, 0 0 100px #228DFF, 0 0 150px #228DFF;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #228DFF, 0 0 35px #228DFF, 0 0 40px #228DFF, 0 0 50px #228DFF, 0 0 75px #228DFF;
  }
}

@keyframes neon3 {
  from {
    /* text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff4081, 0 0 70px #ff4081, 0 0 80px #ff4081, 0 0 100px #ff4081, 0 0 150px #ff4081; */
  }
  to {
    /* text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ff4081, 0 0 35px #ff4081, 0 0 40px #ff4081, 0 0 50px #ff4081, 0 0 75px #ff4081; */
  }
}

@keyframes neon4 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #B6FF00, 0 0 70px #B6FF00, 0 0 80px #B6FF00, 0 0 100px #B6FF00, 0 0 150px #B6FF00;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #B6FF00, 0 0 35px #B6FF00, 0 0 40px #B6FF00, 0 0 50px #B6FF00, 0 0 75px #B6FF00;
  }
}

@keyframes neon5 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FF9900, 0 0 70px #FF9900, 0 0 80px #FF9900, 0 0 100px #FF9900, 0 0 150px #FF9900;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FF9900, 0 0 35px #FF9900, 0 0 40px #FF9900, 0 0 50px #FF9900, 0 0 75px #FF9900;
  }
}

@keyframes neon6 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff00de, 0 0 70px #ff00de, 0 0 80px #ff00de, 0 0 100px #ff00de, 0 0 150px #ff00de;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ff00de, 0 0 35px #ff00de, 0 0 40px #ff00de, 0 0 50px #ff00de, 0 0 75px #ff00de;
  }
}

.ct-chart {
  width: 100vw !important;
  margin-left: -16px;
  margin-right: -16px;
  margin-top: 24px;
}

.accumulate-radios {
  display: flex;
  margin-bottom: 16px;
  /* justify-content: space-between; */
}

.accumulate-radios label {
  display: inline;
  margin-right: 24px;
}

.selection-btns {
  display: flex;
  justify-content: start;
}

.graph-active .personal-reports-avatar{
  border: 2px solid #ff4181;
  box-sizing: border-box;
}

/*chart colors:*/
/*
.circle-Dolev {
  border: 4px solid #d70105;
}

.circle-Dor {
  border: 4px solid #f05c4f;
}

.circle-Dortal {
  border: 4px solid #f4c63c;
}

.circle-Neshek {
  border: 4px solid #d17905;
}

.circle-Lior {
  border: 4px solid #453d3f;
}

.circle-Michali {
  border: 4px solid #5a922a;
}

.circle-Nadav {
  border: 4px solid #0544d3;
}

.circle-Noram {
  border: 4px solid #6b0291;
}

.circle-Sagi {
  border: 4px solid #f05c4f;
}

.circle-Yohai {
  border: 4px solid #dda458;
}

.circle-Yoni {
  border: 4px solid #eace7d;
}

*/






















